html {
    font-size: 16px;
}

/* Pagewide Rules */
body {
    font-family: Montserrat, sans-serif;
    background-color: #ffffff;
    color: #4a4a4a;
    flex-direction: column;
}

body,
header,
nav,
.home,
.section-container,
.content-wrapper,
.related-content,
.content-tile,
.tile-container,
.course-tile,
footer,
.foot-nav {
    display: flex;
}

header,
.content-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    margin: 0 auto;
    padding: 2rem 0;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    padding-bottom: 1.5rem;
}

.section-container {
    background-color: #d8d8d8;
}

.feature {
    max-width: 60%;
}

.feature-image {
    max-width: 100%;
    height: auto;
    margin: auto;
}

.feature-content {
    margin-top: 2rem;
    font-size: .9rem;
    line-height: 1.5rem;
}

.citation {
    font-family: Ubuntu, sans-serif;
}

.related-content {
    flex-direction: column;
    max-width: 40%;
    border: 1px solid #d8d8d8;
    margin-left: 1.5rem;
}

.content-tile {
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

.content-tile img {
    max-width: 35%;
    height: auto;
    margin: auto;
}

.details {
    max-width: 65%;
}


#news-events,
#thesis-exhibits {
    background-color: #f3f5f5;
}


/* Header + Nav */
header {
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.home {
    height: 2rem;
    align-items: center;
}

.logo-text {
    font-size: 1rem;
    font-weight: bold;

}

.light-weight {
    font-weight: 300;
}

nav {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 1rem;
    color: inherit;
    text-decoration: none;
}

/* Welcome Banner */
.headline-cta {
    display: block;
    max-width: 40%;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 2rem;
    padding-left: 1rem;
    margin-left: 1.5rem;
 }

 .headline-cta h2 {
     font-size: 2.25rem;
     line-height: 2.75rem;
 }

.cta {
    display: block;
    background-color: #4a4a4a;
    font-weight: normal;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: .5rem 3rem;
    margin-top: 2rem;
    margin-right: 1rem;

}

/* News and Events */
#news-events {

}

/* Academic Programs */
#academic-programs {

}

.course-tile {

}

/* Thesis Exhibits */
#thesis-exhibits {

}
